#address{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

#addTxt{
    margin-left: 20px;
}
#address img{
    width:14px;
    height:14px;
    transform: translateY(150%);
    margin-left: auto;
    margin-right: 20px;
    
}